.boxes {
  height: 14.2%;
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

button {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  background-color: royalblue;
  height: 100%;
  width: 100%;
}